.transactionHistory {
    width: 600px;
    margin: 0 auto;

    border-collapse: collapse;
    padding-bottom: 40px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 12px 25px 0px;
}

th, td {
    border: 1px solid black;
}

th {
    width: 200px;
    background-color: azure;
    padding: 12px 8px;
    
    border-bottom: none;
}

td {
    width: 200px;
    padding: 10px 6px;
}

.table__data:nth-child(2n) {
    background-color: rgb(206, 203, 203);
}

.table__data {
    text-align: center;
}

.table__data_type {
    text-align: left;
    padding-left: 83px;
}