.item {
    display: flex;
    width: 300px;
    padding-left: 20px;
    margin-bottom: 40px;
    
    align-items: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 12px 25px 0px;
    border: 2px outset rgb(204, 217, 224);
    border-radius: 5px;
}

.item:not(:last-child){
    margin-bottom: 20px;
}

.status {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    
    border-radius: 50%;
}

 .isOnline {
     composes: status;
     background-color: green;
}

.isOffline {
    composes: status;
     background-color: red;
}

.avatar {
    width: 65px;
    margin-right: 20px;
    
    border: 1px solid rgb(235, 241, 245);
    border-radius: 25%;
    background-color:azure;
}

.name {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 22px;
} 